<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sigma Wk3 Live Solve</title>
    <script src="vendors/jquery-3.0.0.min.js" charset="utf-8"></script>
    <script src="scripts/serverSideCalc.js" charset="utf-8"></script>
  </head>
  <body>
    <h1>Sigma Wk3 Live Solves</h1>
    <input type='number' id='xIn' />
    <select id='typeIn'>
      <option value='add'>+</option>
      <option value='subtract'>-</option>
      <option value='multiply'>x</option>
      <option value='divide'>/</option>
    </select>
    <input type='number' id='yIn' />
    <button id='calculateButton'>Calculate</button>
    <button id='clearButton'>Clear</button>
    <p id='output'>
    </p>
  </body>
</html>
